* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    color: #F3F3F3;
    font-weight: 300;
}

body {
    background-color: rgba(0,0,0,0.83);
    padding: 50px;
}

.page-wrap {
    border-radius: 25px;
    background-color: #1C1C1C;
    box-sizing: content-box;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.header-container {
    vertical-align: middle;
    padding: 35px 80px 0;
}

.left-part-header {
    font-size: 25px;
}

.right-part-header {
    padding-left: 20px;
}

.link {
    text-decoration: none;
}

.link.right-word {
    font-size: 15px;
    padding-right: 50px;
}

.link.right-word.last-word {
    padding-right: 0;
}

.container.main-container {
    padding: 250px 100px 0 150px;
}

.main {
    flex-grow: 1;
}

footer {
    padding: 20px 80px;
}

.text {

}

.bold-text {
    line-height: 55px;
    font-size: 55px;
    font-weight: 700;
}

.regular-text {
    line-height: 20px;
    font-size: 20px;
    text-align: right;
    padding-right: 50px;
}

ul {
    list-style: none;
}

.link-link {
    padding: 18px 0 12px;
}

.link-item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 24px;
}

.copyright {
    color: #B0B8D6;
    font-size: 12px;
}
